body {
    background-color: #1c1e21;
}

.grandparent {
    /* border: 2px solid greenyellow; */
    display: flex;
    justify-content: center;
}

    .matter-container {
        /* border: 2px solid firebrick; */
        border-radius: 10px;
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
        justify-content:space-evenly;
        /* gap: 20px; */
        /* background-color: #18191a; */
        background-color: #323335;
        color: #e4e6eb;
        width: 850px;
    }

        .matter-heading {
            margin: 10px;
            font-size: 28px;
        }

        .matter-text {
            /* border: 2px solid violet; */
            padding: 5px 25px;
            /* text-align: center; */
        }

        .images-container {
            /* border: 2px solid salmon; */
            /* padding-left: 25px; */
            padding: 0 30px;

            display: flex;
            /* justify-content: space-evenly; */
            gap: 5px;
            flex-wrap: wrap;
        }

            img {
                margin: 0;
                /* border: 2px solid purple; */
                border-radius: 5px;
                object-fit: cover;
                width: 390px;
                /* height: 250px; */
                height: auto;
            }

            img:focus, img:hover {
                transform: scale(1.4);
                transition: 0.5s;
            }

/* border: 2px solid salmon; */
/* border: 2px solid purple; */
/* border: 2px solid violet; */
